/* Parent element that contains puzzle game */
.puzelm {
    position: relative;
}
/* Canvas with puzzle */
.puzcnv {
    display: block;
}
/* Mini-image that shows original image */
.puzimg {
    margin-top: 30px;
    margin-left: 10px;
    width: 50%;
    height: auto;
    cursor: pointer;
}
/* Button that auto-solves the puzzle */
.puzsolve {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px;
    width: 200px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    background-color: #f39c12;
    border-radius: 15px;
}
